
h2 {
  width: 800px;
  margin: 0 auto;
}

/* container for the items */
.grid {
  --sq: 200px;

  position: center;
  box-sizing: border-box;
  padding: 16px;

  display: grid;

  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: var(--sq);
  gap: 10px;
  justify-content: center;
}


/*item styling*/
.image {
  max-width: 50%;
  max-height: 50%;
  object-fit: cover;
}
.item {
  width: var(--sq);
  height: var(--sq);
  border: 1px solid black;

  text-align: center;
  padding-top: 5px;
}
.txt {
  position: relative;
  top: 10px;
}


/*summary container*/
.sum {
  box-sizing: border-box;
  width: 250px;
  height: auto;
  border: 1px solid black;
  align-items: flex-end;
  text-align: center;
  padding-top: 5px;
}
.sum p {
  padding: 5px;
}





/* Shopping cart container */
.ShoppingCart {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-right: 5px;
  gap: 10px;
}


/* Shopping cart header styling */
.details {
  padding-right: 5px;
  height: 50px;

  display: flex;
  flex-direction: column;
  flex: 0.7;
}

.detailHeader {
  display: grid;
  height: 35px;
  grid-template-columns: repeat(4, 150px);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 10px;
}
.detailHeader p {
  margin-top: 10px;
}


/* cart item styling */
.cartItem {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  border-bottom: 1px solid black;
}
.cartItem input {
  max-width: 80px;
  max-height: 25px;
  margin-top: 12px;
  margin-left: -5px;
}
.cartItem button {
  width: 70px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.cartItem p {
  padding-left: 10px;
}


/* tablet screen size */
@media screen and (max-width: 840px) {
  h2 {
    width: 400px;
  }
  .grid {
    grid-template-columns: repeat(2, 200px);
  }
  .ShoppingCart {
    position: relative;
    flex-direction: column;
  }
  .sum {
    margin-top: 50px;
  }
}


/* mobile screen size */
@media screen and (max-width: 520px) {
  h2 {
    width: 200px;
  }
  .grid {
    grid-template-columns: repeat(1, 200px);
  }

  .detailHeader {
    display: grid;
    grid-template-columns: repeat(4, 75px);
  }
  .cartItem {
    display: grid;
    grid-template-columns: repeat(4, 75px);
  }
}
